.devenv/
.devenv.flake.nix
devenv.lock
devenv.nix

.direnv/

.envrc

.git/
.github/

.pre-commit-config.yaml

.vscode/

*.sqlite

config/

coverage/

dist/

Dockerfile

fly.toml

node_modules/

scripts/
