# test coverage
coverage/

# build
dist/

# dependencies
node_modules/

# database
*.sqlite

.devenv*
devenv.local.nix

# direnv
.direnv

.pre-commit-config.yaml

# test coverage
lcov.info

# Both JSON schemas and their HTML representation are generated using a script,
# so I don't think it makes much sense to track them in the repository.
assets/json-schemas/
assets/schemas-docs/

assets/issued-access-tokens.json
assets/issued-refresh-tokens.json
assets/issued-authorization-codes.json

secrets/*
!secrets/README.md
