{% extends "base.njk" %}

{% block content %}
<div>
  <p><a href="{{ me }}">{{ me }}</a> can authenticate using these providers:</p>

  <ul class="cluster list-style:none" data-align="start">
  {% for provider in providers %}
    <li><a href="{{ provider.href }}"><strong>{{ provider.text }}</strong></a></li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
