{% extends "base.njk" %}

{% block content %}
<div>
  <p>Non-sensitive configuration of the app</p>
  <pre>
    <code>{{ non_sensitive }}</code>
  </pre>
  {% if sensitive_fields %}
    <p>Sensitive configuration of the app (values not shown)</p>
    <ul>
    {% for field in sensitive_fields %}
      <li><code>{{ field }}</code></li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
