<form id="consent-form" action="{{ redirect_path_on_submit }}" method="get">
  
  <p>
    {% if logo_uri %}
    <span class="icon">
      <img src="{{ logo_uri }}" alt="{{ client_name}} icon">
    </span>
    {% endif %}

    <a href="{{ client_uri }}" target="_blank" rel="noopener noreferrer">{{ client_name }}</a> (client ID <a href="{{ client_id }}" target="_blank" rel="noopener noreferrer">{{ client_id }}</a>) is requesting the following <a href="https://indieweb.org/scope" target="_blank" rel="noopener noreferrer">scopes</a> to access resources on behalf of <a href="{{ me }}" target="_blank" rel="noopener noreferrer">{{ me }}</a>.
    You can uncheck the scopes you do not want to grant to the application.
  </p>

  {% include "scopes.njk" %}

  {% if code_challenge_method == "plain" %}
    <p>No PKCE</p>
  {% endif %}

  {% if code_challenge_method == "S256" %}
    <p><a href="{{ client_uri }}" target="_blank" rel="noopener noreferrer">{{ client_name }}</a> supports PKCE (code challenge with method <code>{{ code_challenge_method }}</code>).</p>
  {% endif %}

  <p>If you <strong>deny</strong> this request, you will redirect you to <a href="{{ redirect_uri_on_deny }}" target="_blank" rel="noopener noreferrer">{{ redirect_uri_on_deny }}</a></p>

  <p>If you <strong>approve</strong> this request:</p>
  <ul>
    <li>this authorization server will generate an authorization code that will be valid for {{ authorization_code_expiration }}</li>
    <li>you will be redirected to <a href="{{ redirect_uri }}" target="_blank" rel="noopener noreferrer">{{ redirect_uri }}</a></li>
  </ul>

  <input type="hidden" name="client_id" value="{{ client_id }}" />
    <input type="hidden" name="code_challenge" value="{{ code_challenge }}" />
    <input type="hidden" name="code_challenge_method" value="{{ code_challenge_method }}" />
  <input type="hidden" name="me" value="{{ me }}" />
  <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}" />
  <input type="hidden" name="redirect_uri_on_deny" value="{{ redirect_uri_on_deny }}" />
  <input type="hidden" name="state" value="{{ state }}" />

  <button class="deny" type="submit" name="action" value="deny">Deny</button>
  <button class="approve" type="submit" name="action" value="approve">Approve</button>
</form>
