<header>
  <ul class="cluster list-style:none" data-align="start">
    <li><a href="/auth/config">Authorization config</a></li>
    <li><a href="/introspect/config">Introspection config</a></li>
    <li><a href="/media">Media config</a></li>
    <li><a href="/micropub?q=config">Micropub config</a></li>
    <li><a href="/revoke/config">Revocation config</a></li>
    <li><a href="/syndication/config">Syndication config</a></li>
    <li><a href="/token/config">Token config</a></li>
    <li><a href="/userinfo/config">Userinfo config</a></li>
  </ul>
</header>
