{% extends "base.njk" %}

{% block content %}
<div>
  <p class="error">{{ error }}</p>

  {% if error_description %}
  <h2>Error description</h2>
  <p class="error_description">{{ error_description }}</p>
  {% endif %}

  {% if payload %}
  <pre>
    <code id="error-payload">{{ payload | tap('Error payload') | dump(2) }}</code>
  </pre>
  {% endif %}

</div>
{% endblock %}
