{% extends "base.njk" %}

{% block content %}
<div>
  <p>File uploaded to the media endpoint.</p>
  <p>Response from the <code>/media</code> endpoint</p>
  <pre>
    <code>{{ response_body }}</code>
  </pre>
</div>
{% endblock %}
