<header>
  <ul class="cluster list-style:none" data-align="start">
    <li><a href="/">Home</a></li>
    <li><a href="/config">Config</a></li>
    <li><a href="/editor">Editor</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/micropub?q=config">Micropub config</a></li>
    <li><a href="/token">Token</a></li>
  </ul>
</header>
