<header>
  <ul class="cluster" data-align="start">
    <li><a href="/">Home</a></li>
    <li><a href="/auth">Authorization</a></li>
    <li><a href="/error">Error</a></li>
    <li><a href="/micropub">Micropub</a></li>
    <li><a href="/token">Token</a></li>
  </ul>
</header>
