{% extends "base.njk" %}

{% block js %}
<script defer src="scripts/login.js"></script>
{% endblock %}

{% block content %}
<div>
  <p>Sign in with <a href="https://indieweb.org/IndieAuth">IndieAuth</a>.</p>
  {% include "sign-in-form.njk" %}
</div>
{% endblock %}
