<!doctype html>
<html lang="en">

{% include "head.njk" %}

<body>
  <div id="wrapper-for-sticky-footer">

    {% include "header.njk" %}

    <main class="wrapper">
      <div class="flow region">
        <h1>{{ title or "Default title" }}</h1>
        <p>{{ title }}</p>
      </div>
    </main>

    {% include "footer.njk" %}
    
  </div>
</body>

</html>
