.error {
  background-color: red;
}

/*
 * See the CSS variables of MVP.css
 * https://andybrewer.github.io/mvp/#docs
 */
.deny {
  --color-link: red;
}

.approve {
  --color-link: forestgreen;
}

.list-style\:none {
  list-style: none !important;
}

#access-token-claims,
#authorization-code-received {
  line-break: anywhere;
}

pre > code {
  line-break: anywhere;
}

/* consent-form {
  color: rebeccapurple;
} */

/* my-counter {
  color: red;
} */
