.error {
  background-color: red;
}

.list-style\:none {
  list-style: none !important;
}

#access-token-claims,
#authorization-code-received {
  line-break: anywhere;
}

pre > code {
  line-break: anywhere;
}
